<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">satanas.github.io</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% for link in site.data.menu %}
      {% if page.slug == link.name %}
      <li class="active"><a href="#">{{ link.name }}</a></li>
      {% else %}
      <li><a href="#">{{ link.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
</nav>
