<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/foundation.js"></script>
<script src="/assets/js/foundation.topbar.js"></script>

{% if page.syntax_highlight %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
{% endif %}

{% if page.social_buttons %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endif %}

<script>
  // Foundation
  $(document).foundation();

  /*
   * Analytics
   */

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-4851218-4', 'auto');
  ga('send', 'pageview');

  {% if page.syntax_highlight %}
  // Highlight.js
  hljs.initHighlightingOnLoad();
  {% endif %}

  {% if page.comments %}
  // Disqus
  var disqus_config = function () {
    this.page.url = "http://satanas.io{{ page.url }}";
    this.page.identifier = "satanas-io";
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//satanas-io.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  {% endif %}

  {% if page.social_buttons %}

  // Facebook
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5&appId=1523150194674801";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Twitter
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  {% endif %}
</script>
