<div class="badge">
  <a href="{{ page.app_store_url }}" target="_blank" title="Download on the App Store">
    <img alt="app-store" src="https://lh3.googleusercontent.com/9r3XG_gMpae7J7JgRqv01QQR_9pByQpEGfSc6E3Vc5RmoqE3nyNvFV1bWy2lUgUiWXw4qbqNAaMFsMlTinfiAF9GmxZ7AiiJ1KihOrkLv20QXZshw6ZO46t_XQuJ0vMDb7HAbdrGW43mo_LzBLOiuTLo99AsSM3zTk6VDymHRI-3mMHsuNpbxIr3otf22U1AC9G6P71tmHDDy2BXrjsAyrH7xZBZxdHDOam7jCmEGjIHTEhjndpEve7w-ODTl_p9CRpOb0Y3toCvIekMpvWyp-DPd5vTAkz-ZgSpGtRxk7t9MJ9xlsk5RIyIoJTBlgl7f2VQfyaQgKIFUeAjiswKL3vlVfXoW4eeupR3Kt7nc-KePz_OSVjpNCAuBCz5Vf0-7MQ-V1qkNNPQrqkIJl0ZqP5hEM8i6enuKGCeGzpUkKUeQjDeinouPnHxWYr6nUMwX8R24Zp_YGN_yX9irp9NPXMtpaq8OfMhm2PqobKyP4gSs_7zlORxZo20WS0AEsMRviV7yQEtgTNstkefdzcfSJxIZHDJo0L7eP7l9kD_kRg=w600-h178-no" />
  </a>
</div>
