<div class="badge">
  <a itemprop="downloadUrl" href="{{ page.google_play_url }}" target="_blank" title="Get it on Google Play">
    <img alt="google-play" src="https://lh3.googleusercontent.com/41nWSlpB5c6JJInBzIaNXjVggWflNCrzcUDjOHPb1AMf65uBoayUSL8YSIiuWiXnLi6h7xWlGr03_OXV0rml2iZNt5RKYWJi8mhCuWeAz7tDhrsD5cDN9PczbhzCgbKBSgrM_4nZdeJqeG342GIqKNwfTEanvmMi4sl5VOLa6YopBAV8sL8_XV7Jmi_Z9M29CQuL2YvogrOJLsiT4ccZisEShwWeF6rCxfX0zrMwBLpssy3yFrOmYGx016Mm6_Dj3IMDZjObNl8lslzBzU0EsrdgcNl_ocD2NxElIrR3ZNrqwnuUO-Aw5rgZHmPV7rKWmahg5jsXF6auSqb2FbYR-gbVkpg3_Enisy2EtSSJeWE5Qh7TJaH0SUgu3oBKgH2QAyZUcScXqin_qRJ-cJ0hK0szxH1datnyTiDgyqlEVhWRJCQkaAux7ul5ZAYWalHTkOzY3jp65iFg5avgJBu-9RT8nratcGG8Gw_-QvpX8EZBDIZC0kO3jj6H2_clyGCkyIMe3pRLeiqgccg6He0o35eThpGLagO_spOTmmQJS4s=w600-h205-no" />
  </a>
</div>
