<div class="badge">
  <a href="{{ page.itch_url }}" target="_blank" title="Available at Itch">
    <img alt="itch" src="https://lh3.googleusercontent.com/wixeAeJmbYlUsqumOZCPr1eVD5JBlCFEPCdmJvga45z3ESEiLBedjsW6W_10WR-BSIvWyglqsr21i1fLsrNSNJg2VpuaAVKHcgrurfx3JTqqz3vwNANdeZ3G3c5HEg6mbXLoiYKepXl0SeNaFBrq23btIWi681SpEJCd7Vk5Zl9_CF9M94X659QeaWBzsnwRTOQoWmPSwFiEm2Z5bOaidtzzSzXKECEzUyXU4UlCaNWcuzP1rooPa9uM5Xs5hFf5vt98-exh2lBP2q1IuREnprZzYfA2LDetJd9Ohj-0NJkcCax6hUoFcfrltolbwIX3YOYjfmfJp3WFK202LP9jiDoMfUACcFhrrFxF_BboSTzftHbixRL990olj67HvSkS1u6YsfR70nsUuhh9tOiTZv9YRjx03L-l46M_6NHifnv19gmuKO5jquduPeZ2_kj7cy68HrDiMUJDw4hoTKA5Kz2XP9d7zIc1Xk53mVhQp7Ymuy_QP1x0IEvN-lsq3CbW2VdeMIDLpUyRejj2HsyJXu5803n2HjiLyJqfbPQ6hr9XLdzwy8IRKrwzs6vNcNeN79nnTKU1SFrm47YgiXkPG4J7ESz5uTYlOqhSXeA=w1260-h374-no" />
  </a>
</div>
