<div class="badge">
  <a href="{{ page.itch_url }}" target="_blank" title="Available at Itch">
    <img alt="itch" src="https://lh3.googleusercontent.com/rXfBY5id-g6mal67cNvG0TUpREBoeHgmhZrtCFLSMpO8RQrLX8RJLtqXnvlcnueUaTNPiwsLuVCJMa2tZrJD_2o8KDYoR9JswOttnTqsPw4VQRHikMJ3ERwc82qT7doYKCLlWEt-G0ym71I4eQsWk_MYEWf_E5m6GDgx6UfOoPynlgFAbunwgwAGOWvyx-oZBiGQ8FlHvWbTQMFdiSMfIEI3fn4JJhh_oulnaYshDT_PBITr-EboHQ6miBECySw8DFRtwcjKg_0pVV1-GyVc4y3YL0TRuwzwAoj18g4Fb2hxLjU42im0Ngk8USH4_IaaMMqIsti-Nzvt7rpSm18_zhkLByxktaebw7snMNWLjAE1RtrhRT5ciMkhSsbLLkm2dqjNc7c4nTo0hCyQNAqt5OvcwhvAla9RF8FAMbrhcbHNfDE4-4LLzDqSJIwdnHDPhKcDr775MhvHsylvADGIHst0tf-bD5pTmRqNKH6pwpgNIceXhGInaR85BOCdOKl-NR5ggByPn8n5stncRVHXI9ha0MFWURtEPvKtPPjZwXV8U6_bbjiXBhRPc-xHCBbl7WtPJx4nBZRKfXg5VMO9Jfwy6owEm8A950B2NFE=w1260-h374-no" />
  </a>
</div>
