html {
  font-size: 1em;
  color: #333;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  margin: 0.5em auto;
}

/* Small screens */
@media only screen and (max-width: 40em) {
  h1 {
    font-size: 1.8em;
    padding-bottom: 0.4em;
    margin-top: 0.4em;
    margin-bottom: 0;
    border-bottom: 1px solid #eaeaea;
  }
  img.feature {
    padding: 0;
  }
}

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  h1 {
    font-size: 2.1em;
  }
  img.feature {
    padding: 0.8em 0;
  }
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
  h1 {
    font-size: 2.8em;
  }
}

#wrapper {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  max-width: 710px;
  /*
  padding-left: 10px;
  padding-right: 10px;
  */
}

.intro {
  margin-bottom: 1.8em;
}

.image-container {
  text-align: center;
}

p.title {
  margin: 8px auto;
  font-size: 1.6em;
  font-weight: bold;
}

p.spec {
  margin: 0px auto;
  font-size: 0.8125em;
  color: gray;
}

.description {
  border-bottom: 1px solid #eee;
}
