* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.3em;
  font-weight:bold;
  line-height: 1.05em;
  text-align: center;
  margin: 0.5em auto;
}

/* Small screens */
@media only screen and (max-width: 40em) {
  h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #eaeaea;
  }
  img.feature {
    padding: 0;
  }
}

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  h1 {
    font-size: 2.1em;
  }
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
  h1 {
    font-size: 2.8em;
  }
  img.feature {
    padding: 0.8em 0;
  }
}

#wrapper {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  max-width: 710px;
  /*
  padding-left: 10px;
  padding-right: 10px;
  */
}

.intro {
  margin-bottom: 1.8em;
}

p.details {
  margin: 0px auto;
  font-size: 0.8em;
  color: gray;
}

p.title {
  margin: 8px auto;
  font-size: 1.6em;
  font-weight: bold;
}
