body {
  background-color: #272C32;
  font-family: 'Orbitron', sans-serif;
  color: #ccc;
}

#wrapper {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  max-width: 970px;
}

#logo {
  text-align: center;
  color: #00FF55;
  font-size: 5.5rem;
  margin: 2rem 0;
}

.badges-box {
  margin: 3rem 0 !important;
}

.badge {
  max-width: 280px;
  margin: 1rem auto;
}

.screenshot {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #f00;
}

.legal-attribution {
  color: #999;
  text-align: center;
  font-family: arial;
  font-size: 0.7rem;
}
