body {
  background-color: #272C32;
  font-family: 'Orbitron', sans-serif;
  color: #ccc;
}

#wrapper {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  max-width: 970px;
}

#logo {
  text-align: center;
  color: #00FF55;
  font-size: 5.5rem;
  margin: 2rem 0;
}

#description p {
  font-family: 'Open Sans';
}

#developed_by {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem auto;
  font-weight: 700;
}

#developed_by a {
  color: #00FF55;
}

.badges-box {
  margin: 3rem 0 !important;
}

.badge {
  max-width: 280px;
  margin: 1rem auto;
}

.screenshot {
  margin: 10px auto;
  background-color: #fff;
  max-width: 320px;
}

#press-kit {
  display: block;
  font-size: 1.3rem;
  background-color: #42c142;
  color: #FFF;
  border-radius: 50%;
  line-height: 9.5rem;
  width: 9rem;
  height: 9rem;
  text-align: center;
  font-weight: bold;
  margin: 2rem auto;
}

#press-kit:hover {
  background-color: #49d549;
}

.legal-attribution {
  color: #999;
  text-align: center;
  font-family: arial;
  font-size: 0.7rem;
}

/* Small screens */
@media only screen and (max-width: 40em) {
  #press-kit {
    font-size: 1rem;
    line-height: 7.5rem;
    width: 7rem;
    height: 7rem;
  }

  #developed_by {
    font-size: 1.1rem;
  }
}
