---
layout: game
title: "Neutrino: Tap reaction free mobile game"
css: "neutrino.css"
favicon: "/assets/images/neutrino-favicon.png"
site_verification: "V4M6cbVUthj0RyDMod-8P82Yxx0Nprf-0lNxfpZathk"
keywords: "neutrino, free mobile game, free game apps, games for android, games for iphone, tap reaction"
meta_description: "Neutrino is a free game for mobile that will test your reflexes. Destroy the atom avoiding the electrons and earn lots of points by tapping fast"
google_fonts: "Orbitron:400,700"
featured_image: https://lh3.googleusercontent.com/0iUpM1RqFIOyJEYX-eAWysK-0Kp3tb-FTjCgeWQIkqTXNNH7TIq2h9vWl6NxNvmj351hw8KLLhO-Tr3gfEcfl3h376DA-dbtOpJZCuoMNWWpJTY9XEnW6sEOftIjjKnGbd4KR_WzISredgr2I_hBWiJnc2rnrO3KE5Gr9jyZuNyKiJVtnSDCs545v00lXxfL3b3mRI_jP-iqk7TPQSNPkH1knrU62St4KRvrGrQW5r_fNoVXKaXfpJMiGhAEEUh5Z5rxgco-DsFnJnXytpUWCNoHqUrT-LC30b-ROtmQWm1OuZaXPybz9vaGMRxWe30JiW7Jai-h0it-HHPjtHdaUVsyICtYSt3XkoGPQtZ9bR74iJirONaqkFdIKh68tomLQ94kI7ZFM8alnmfRlITCGiy2u8AjPxz9agTyaur4MGhFDz8QSjZL0Iybd6en2s_vsBLdCDSW_KDu2H9Iq3Z3ywZgzgyjMgX-yhHsiGzWeW_kNad2WrDtcMSnn1yZNtEnMfZBq3HSB_lEplQ0splLq_CumtVPD4Wv-8U-nBxlhJo=w1920-h1080-no
summary: "Neutrino is an infinite single-tap reaction game that will test your reflexes and your guts"
amazon_url: "http://www.amazon.com/satanas-Neutrino/dp/B019ZTNYKY/ref=sr_marpr_1?s=mobile-apps&ie=UTF8&qid=1451506909&sr=1-1&keywords=neutrino"
google_play_url: https://play.google.com/store/apps/details?id=com.satanas.neutrino
---

<div itemscope itemtype="http://schema.org/SoftwareApplication" class="columns">
  <div id="logo" class="row">
    <span itemprop="name">Neutrino</span>
    <link itemprop="applicationCategory" href="http://schema.org/GameApplication"/>
  </div>

  <div id="description" class="row">
    <p>Neutrino is a tap reaction game that will test your reflexes and your guts. Destroy the atom avoiding the 
    electrons. Earn achievements and break records by tapping fast and destroying lot of atoms.</p>
  </div>

  <div class="row badges-box">
    <div class="small-12 medium-6 columns">
      {% include badges/google_play.html %}
    </div>
    <div class="small-12 medium-6 columns">
      {% include badges/amazon.html %}
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="screenshot"><img alt="screenshot1" itemprop="screenshot" src="https://lh3.googleusercontent.com/8-auYlpVdKGWltJMYz1mgw40cpZrPnvwOjt7h2gJ28ilBcxj4p3MYe3qJrzaKvim42RglJLGfyhWMJEWqHToxVMwbRy6ankeaZcGcCCD76TAMFrXooYqoNIK_ex8ssKI2Zolrc13gCqsZXvt4fAaJc4RaGSgUUY43npzT6GlC_lkRt9ZFxC_YgMCc2saWJY9BpseYn82OoSsVQMMFYNYkVhLslobS3q5TGIVP5RoQBByBLO9yiryfQEf6CfXWv0kPqRvJfanVeBc2VJ6tm1s9j_zeDGNWAumsV2yWpILDbnRl_Y0bHFLUjmq8L1dxVKbsIoikuDS7YlYdY1a22yiPibcUV8-HgmHUiuikHlJbjPUk-xVtjmR7QBP4CBljme6KdPPVjZlUkXykoR4XAJ8bdx8pbykgnUQt2nJYtMzuMdTGMo4Iw8smFmkEZtERjncZtJQrrXXrlPTGJy2A_vyv-n5liKp7Xqu_oeVVM2gQqoINCE8Et-7swNGQW5L194nyqPrFHddQdP24Lw2L6pQt6lPzvrBu-CgnQE60vlt-XI=w320-h546-no" /></div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="screenshot"><img alt="screenshot2" itemprop="screenshot" src="https://lh3.googleusercontent.com/Htxc1h98XOc7XCO8agDTMXuX2XbfYDu_EO7Q4vKfRwZdfVkgSVLSKWKReSxFBGCPhrMTWPmEv2zzjYoRb1_rxWPAw1MQPwyMaTYNRZi8A2hH_Y22xpu_gxvlbdRh6C299jiAql1GjXZJ7vVlgduRpSIP-bqhlVGo3S91yCRgozkjLb6fiw9q4nPvQFc6cpiaKA6whLr5QgMIfWxh6IAxFZSThazvjw-HEEbgPXnTDD0oKgYJ37Dg_EymNu6CGVRF7glV0LuRi9IfcJS8sZJOoiUq_7Fi5sw8SnXQATaGMSI3l0JqvfSFBmLR6sVf5vRoQ1hhpuG7nSTfpoECumj_rKlr1tanWPGTjiK0N-wYNQyPdM4vfyTNYslmlOWlmQS_zP_zgVY8SK9sbsYn8B6n6FMeoSN4oc04jxMVZJjJ9cQS3dWBiG5kofUW2xvt5wanlXctdc1V4Th8n-Qc5KHwJeR_8sNEQCXV83z9UQVS1cNlCt28N0IbwOCdxCizVwqd0K2Gv1VEqAXtosR8RWlJlZbbGgfL419lCZl3BTUS60w=w320-h546-no" /></div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="screenshot"><img alt="screenshot3" itemprop="screenshot" src="https://lh3.googleusercontent.com/OmCR4CKoNlwVr8bZJtmCfTnC1J4V_FzBHDusIJB4N57PXAC4E8WbYyCVTEZs_KGRMGiBi1ZKKK8Z0jRGNp-bnZKLlYlmamCBfcq7bSFCRM_7QsyhqdhjtV0MYYDSvewzcgUpUep70Ey2iiGui7hx7IIDOhvUKmvrA45ggttyrFMJHK0zBzdNtqlE-yX00BIQK5iyE14XbAjfOgYzKfrY-YFtY-NCzXc_bP3DoAipJTXQHDvdYctZpUUXxyP4JPW2Z1aRa64AK0d1Dz0K4zGlu8lLarRUX3buqovQTtvnK0p28qTyatVZRVOw5Wg2zd-6EIlVhnNxaTogjIQp185p4DyeWuX6TszTrey1bqyjv6n5bOpcU5FtliG5PGX3oqZC8jfswz1poHX8q_E4mRwniHpOzfKcy5-8MBueI7fmEiVP8Z4syGUdzF7JbYCoB1DxANKj41OB_ZpusRRGtAquWb7GwyvTuMlkxyyKPtI_TvX4Gk7Pk-PM1GmY1e7mC5XOxTRFCOiX4lLhZ2goHoV-yGDo6oHQ0W_sHykmYdlkWUA=w320-h546-no" /></div>
    </div>
  </div>

  <div id="video" class="row">
    <div class="flex-video widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kSxW8OCLiSM?rel=0&amp;showinfo=0&hd=1&vq=720 allowFullScreen" frameborder="0"></iframe>
    </div>
  </div>

  <div id="developed_by" class="row">
    <div class="columns">
      <a alt="neutrino" href="https://twitter.com/search?q=%23neutrino" target="_blank">#Neutrino</a> was developed by <a href="http://twitter.com/satanas82" target="_blank">@satanas82</a>
    </div>
  </div>

  <div id="slogan" class="row">
    <div class="columns">
      <p>Are you good enough?</p>
    </div>
  </div>

  <div class="download_text" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    Download it for <span itemprop="price">free</span>
  </div>

  <div id="app_icon">
    <img alt="neutrino-icon" itemprop="image" src="https://lh3.googleusercontent.com/ilWtuN-ovXsR5ey9iIZqBZQaqbHwSELZpzHl9KeiY7mVphxV0L1_X9fNaF9DMNoGQNFC5-a2EHTWJBI70Qe1bpNcahT0Q0lwYVjpy-O9XhgUuQO4b0ICTeNa2pbqkG8-ZnOMZ8SNfD2M2u6vEvqHrmgBLoobnnBHbT4s2b8NP21lsIqsan6eImtMoMqq3ZxbgZrtVgypiBNluR-0MCwzyQft72PAXspPlnzwCNGHwJlrkZq3W-6IeX7Vpl1v4syXPnAOJF3L8CWLkzbfUJD1j6MXW43t-4e20I4EziOfrgCGOPF2I0Y1tQxVa7nAdxfBVt2JTuQvQpBR7snStiYqq1xbwdvOYIgRYDzYrXBwYUYudojq0rDoRDaIi87vpu0gZ5LzllYhhDHJ4U-Q15_H06vY7me062_gMhZgHOp6YFbrqJ9mpNb07Mwopl6MmdnmFoh1Ig_PM1WPxCuT4cvccz1TW0ZYrG4BD6wIVm7uAdvFeW8PL5m9FLPpQU1xD2ZRvtG1SGC3wUE8F3zlyc9IgMnKOo1c4ds6b5FJC9EjiXrBG32WpVMPZCUL9IyPaAwlUH6C=s512-no" />
  </div>

  <div class="row badges-box">
    <div class="small-12 medium-6 columns">
      {% include badges/google_play.html %}
    </div>
    <div class="small-12 medium-6 columns">
      {% include badges/amazon.html %}
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <a alt="press-kit" id="press-kit" href="presskit.html" target="_blank">Press Kit</a>
    </div>
  </div>

  <div class="row">
    <div class="columns legal-attribution">Developed by Wil Alvarez &copy; 2015</div>
    <div class="columns legal-attribution">App Store is a service mark of Apple, Inc. <span itemprop="operatingSystem">Android</span>, Google Play and the Google Play logo are trademarks of Google Inc.</div>
  </div>
</div>
