---
layout: base
slug: Portfolio
title: "Game Development Portfolio"
last_update: October, 2015
---

<div class="columns">
  <div class="row">
    <div class="intro columns">
      <p>Welcome to my portfolio! I'm a developer passionated about videogames trying to make a living of it. My favorite
      languages are Python, Ruby and Javascript, and I've experience working in the backend as well as in the frontend. 
      I'm currently working with Phaser to build HTML5 games but also I'm studying Unity for mobile and desktop. 
      In the past, I've done videogames using Stencyl and Pygame.

      Here you can check some of the games I've done so far.</p>

      <p class="contacts">
        <span>You can contact me on:</span>
        <a class="link" href="https://github.com/satanas" alt="Github" target="_blank"><i class="fa fa-github-square fa-4"></a></i>
        <a class="link" href="https://cl.linkedin.com/in/wilalejandro" alt="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-4"></a></i>
        <a class="link" href="https://twitter.com/satanas82" alt="Github" target="_blank"><i class="fa fa-twitter-square fa-4"></a></i>
      </p>
    </div>
  </div>

  {% for id in site.data.games.index %}
  {% assign game = site.data.games[id.name] %}
  <div class="row image specs">
    <div class="small-12 medium-8 columns image-container">
      <img class="feature" src="../assets/images/{{ game.image }}" />
    </div>
    <div class="small-12 medium-4 columns">
      <p class="title">{{ game.title }}</p>
      <p class="spec">Genre: {{ game.genre }}</p>
      <p class="spec">Platforms: {{ game.platforms }}</p>
      <p class="spec">Engine: {{ game.engine }}</p>
      <p class="spec">Released: {{ game.release_date }}</p>
      <p class="spec">License: {{ game.license }}</p>
    </div>
  </div>

  <div class="row description">
    <div class="columns">
      {{ game.description }}

      <p class="actions">
        {% if game.play_url %}
        <i class="fa fa-play-circle fa-2"></i><a class="link" href="{{ game.play_url }}" alt="Play it" target="_blank">Play it</a>
        {% endif %}
        {% if game.source_code_url %}
        <i class="fa fa-github fa-2"></i><a class="link" href="{{ game.source_code_url }}" alt="Source code" target="_blank">Source code</a>
        {% endif %}
        {% if game.zip_url %}
        <i class="fa fa-file-zip-o fa-2"></i><a class="link" href="{{ game.zip_url }}" alt="Zip file" target="_blank">Zip file</a>
        {% endif %}
      </p>
    </div>
  </div>
  {% endfor %}

  <div class="row last-update">
    <div class="columns">
      <p>Last update: {{ page.last_update }}</p>
    </div>
  </div>

</div>
