---
title: Tomatromp
description: Throw tomatoes to mean people
url: http://satanas.io/games/tomatromp
feature_image: https://lh3.googleusercontent.com/3oBqUxsvif56XJ09Zlej-MhVrt2T046uZE5Sv24f71zXCaKxm9_ijM-nfkOv8x6K9cfHZkNwea7xTXGVuN__M-pyGZl1nawFd0us7aXTE6hyybsGlzqzmWiGpQcs8j4HlzdLi9wnnLt7ds1U9D5YdwUPzxdN8u5KL66DgzljjZycyqVejh35szey3oCgxjjh3BOvk-lHMKi6V5IHkFk1nKQ9CyNB5ohioyLSWIKi77saNUabflSOcTWkfqk3kQYht7sfpaVuJqxYof4ai1ceItI_1kmx04tX5yYMMfyGScJoLRdIfMDDeIos8Zo6D4pVAvCNkrhIP-6q_TmeFWT2j0WqatCxTiwpSWX3S2_6l5tViVRdUJesyS1XkD9J8zzzFSXb91TXZDtYIKK8dXCagH7hXzSBxbH-ijXTALuLd0x47FTlFdVbgtbaG8DEJChC6MwSwvt5snax1p2ZfS1hQMFHUyMZAi6GWwLyj9-YvnnVVvZtCIhT2nzrmtJXuOMJxUKP7IvV3pQbH44HMXdQ974BdmpvJnYZZQP_7YLED26DqOQ6e0WY17YKpbqUoOUcxZpxC6MgtZez2Hq8Q7msO3321pmZ61uJluQO0m4=w630-h500-no
itch_url: https://satanas82.itch.io/tomatromp
google_play_url: https://play.google.com/store/apps/details?id=com.satanas.tomatromp
app_store_url: https://itunes.apple.com/us/app/tomatromp/id1418949723?ls=1&mt=8
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.feature_image }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.feature_image }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>

    <script type="text/javascript" src="js/main.js"></script>
  </head>

  <body>
    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <img class="title" src="images/title.png" />
          </div>
        </div>
        <!-- Download links -->
        <div class="row downloads">
          <div class="four columns">
            {% include badges/app_store.html %}
          </div>
          <div class="four columns">
            {% include badges/google_play.html %}
          </div>
          <div class="four columns">
            {% include badges/itch.html %}
          </div>
        </div>
      </div>
    </section>

    <section class="trailer">
      <div class="container">
        <div class="row">
          <div class="twelve column">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3h2I5wxOZMg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="press-kit">
      <div class="container">
        <div class="row screenshots">
          <div class="four columns screenshot">
            <img src="https://lh3.googleusercontent.com/lNXEjgMPKf4ahQdalpRQnZpf_-zY46kWW9v6_HR_ZSjrd-IiYXSspn9tEuCtXJ37KhIxDW1VTLaI6E7mbyB1mkinefbuXI8ZpE6avn72qdVFmCFG5k5n17jiFhtmMUIdvSwhew6TzfdkvpzYV9Ymg9v4GKqJQOAhtVQ5tjvaIHMvfImqNg2Gfl0O-OQR334PkUi-Dp4mAnDnuy1MrfDaw3ufkqEwtn09BJW3Ai8pFg63OTuAHC_3U1Kb3ezzcFVXW_vDZmpOGFcoSGvHTBtk_hNNUMnbtFubC5ndUMXVW8xghSnqjhYppHMYee_SvT2dHk-i6fvBMtzqlaJgiisCHaTTVtuRR1Lb_RJQh2wSdVP4PzJ-cGcZr2rYJ0cHjypk_rzmJCdR3Wo_3zt2ceXPjnYm3fenZ4tRjlq-ni-mQxPQB40uTOMRhh8OscKFng0ZBrXsHyUczwxJcHt3u9--UgJaOnuP1lgMzDNeVGP6Y5L7tJTGApjbnEPpAm1O6BOeYjFVVb-j4PzzNbIYOZfndxTkBKkHEmROTcJiQDoYEFIkc5boNsqc917_Dt78u565591CUhmx8ZwuxE2KJJAFi3VOMi04yihu3MowAYQ=w888-h500-no" />
            <p class="title">Tomato time!</p>
            <p class="description">Throw a bunch of tomatoes and give mean people what they deserve.</p>
          </div>
          <div class="four columns screenshot">
            <img src="https://lh3.googleusercontent.com/Ju9fSaGVHlYbUxlYFPcCPJ4sQ1zCGiIWxz9fy2j3H48nuOv40BgzCmEzAY6iEMyFwh7tF2FdHN-6mXQxkDQOgikpZl4X5A9nHk4vWnZmcmsEkmxmXQDvDkKCFCJkeerHmo_MoCZKG8FCxQu0uXan_cohZ2LNCjnzmwDo2fzclu4f2gNDMZ_Z71qujTc_brwLtmgchWv0onDHw5fTvBM1flWKD9xn1KUmCk5dw2gfUExTY3hYooPsnTijpgq30cBwAVBnrhes3XjsqjS0SbvgCdW58A7QYPPap_OE85vDnOJxUO9mGdXviSKjf946G5DUehnTMz_qbyzFQSNnxPgCmMtYRzNXmWCBjq5mq4nWC91EwBtOdfM1qEXnY27TTDthzpSXvWgKW7sreNb25EV9ZlZ7QWZT1L6AicuuCokAEYs8mKOuIQruCusapAJ_uolyWxTSQQqWil-vJDxjrRJN_p3Io-EunlZn4H6F25a1uoM4CQQV9T1uhUMhJNRMvmzEjCDEMZ4yfD4GyeOY6266dqGApeKTfWbE5DrubfCaBoBkkxJrdVdKmMMGgx4W6PJhRTelJaQ1c8qZYn032HP4eNpUExXdypm2UzxaOQ8=w888-h500-no" />
            <p class="title">Overcome challenges</p>
            <p class="description">Play solo, complete challenges and earn you some coins.</p>
          </div>
          <div class="four columns screenshot">
            <img src="https://lh3.googleusercontent.com/h4ji1BPbLRiLmNYnKcsm3YyTgyiE5Ww8e5Su0jyHpRdfIVsjNPzUzVbcUJrYSakh7VtTbMTrP1xBuBh96b0yKH-jwDUgBQSxsg-LIbQtW58Zh3mQDnCZphylm3uBQnLEjb5syMLuapUJmA_xDGbmv2WSe8arYHzXL2ssgy--fUMQDQFFOEIVzQI36tsD6C3Qbdg5X9AY_5M4sSu2UdZyOhX7StMQEWvj2xCAvdR93iy7fvPU9fy-iZhWy5tZUUqmL_h45RtfMsP8KCDCVa3eEA5kOw7n25Gh8obede6oAY4Jr2MTa8KIEpQt3pS_pjyxqrtI0scIowQrIFI2OSatbT2-e6U5S38SarffS3qhB0GzQ9OnzbIvRpOuOdcNoEklCz23PSs-zzekL7vgQEi0Qfg5JDCjP1gEN9WWH1lljFcc7uuJE3qqe1cEyBbV9OarU92Vt4PQ2RW5kLIVlh72EeiZR8uxPSNsrGrFHEwdCd8h7U6UrrqtgfJ1S-ufoOQ583NtCxHLSich3m4KwaEr7P6C_fP_kbEA2tbbsQ2KhAHSvVl8_rrQQ03-mSU1ukcwoHpg4OTb-yK6cL3eCnrfeUMaWvN2zPPI1F6DapY=w888-h500-no" />
            <p class="title">Play with friends</p>
            <p class="description">Challenge your friends and let us make local co-op great again!</p>
          </div>
        </div>
        <div class="row">
          <div class="twelve column press-kit-button">
            <p>If you’d like to write about Tomatromp, we’ve a Press Kit with information, images, links and videos. Check it out.</p>
            <a href="presskit.html">
              <img src="images/press-kit-button.png" />
            </a>
          </div>
        </div>

        <div class="row downloads">
          <div class="four columns">
            {% include badges/app_store.html %}
          </div>
          <div class="four columns">
            {% include badges/google_play.html %}
          </div>
          <div class="four columns">
            {% include badges/itch.html %}
          </div>
        </div>
      </div>
    </section>

    <section class="studio">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <img alt="logo" class="logo" src="../../assets/images/logo.png" />
            <img class="made-with" src="images/made-with-unity-white.png" />
            <div class="ml-form-embed" data-account="1037142:i2k6e6p7v2" data-form="959576:o6p8e8"> </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>Wil Alvarez © 2018.</p>
      <p>App Store is a service mark of Apple, Inc. Android, Google Play and the Google Play logo are trademarks of Google Inc.</p>
    </footer>
  </body>

  <!-- MailerLite Universal -->
  <script>
  (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
  var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
  f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
  var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
  _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

  var ml_account = ml('accounts', '1037142', 'i2k6e6p7v2', 'load');
  </script>
  <!-- End MailerLite Universal -->
</html>
