<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/foundation.css">
    <link rel="stylesheet" href="../assets/css/app.css">

    <script src="../assets/js/modernizr.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/foundation.js"></script>
    <script src="../assets/js/foundation.topbar.js"></script>
    <!-- script src="../assets/js/foundation.offcanvas.js"></script -->

    <title>{{ page.title }}</title>
  </head>

  <body>
    {% include navbar.html %}
    <div id="wrapper">
      <h1>{{ page.title }}</h1>
      <div class="row">
        {{ content }}
      </div>
    </div>
  </body>

  <script>
    $(document).foundation();
  </script>
</html>
