<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/{{ page.css }}">
    {% if page.google_fonts %}
    <link href='https://fonts.googleapis.com/css?family={{ page.google_fonts }}' rel='stylesheet' type='text/css'>
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@satanas82">
    <meta name="twitter:creator" content="@satanas82">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta name="twitter:image" content="{{ page.featured_image }}">
  </head>

  <body>
    <div id="wrapper">
      <div class="row">
        {{ content }}
      </div>
    </div>
  </body>

  {% include scripts_footer.html %}
</html>
