.hero {
  background-image: url('../images/background-1.png');
  background-size: cover;
}
.trailer {
  background-color: green;
}
.studio {
  background-color: red;
}
.press-kit {
  background-color: yellow;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .hero2 {
    height: 280px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero2 {
    height: 390px;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .hero2 {
    height: 490px;
  }
}
